html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gaegu', cursive;
    font-size: 1.4em;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.6s ease;
    transform: rotateY(180deg);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY(0);
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 35px;
    -webkit-animation: match 1s ease;
    animation: match 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.deck .card.unmatch {
    -webkit-animation: swing 1s ease;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background: #f92f2f;
}

.deck .card.disabled {
	pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
    font-size: 25px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Styles for the Congratulations message
 */
.congrats {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.6);
  	transition: opacity 600ms;
  	visibility: hidden;

}

.congrats-content {
  	margin: 60px auto;
  	padding: 15px;
  	background: #efefef;
  	border-radius: 5px;
  	width: 75%;
  	position: relative;
    text-align: center;
    font-family: 'Handlee', cursive;
}

.congrats-content p {
    font-size: 1.4em;
}

#play-again {
  	background-color: #adafb2;
    margin: 0 auto;
  	padding: 10px;
  	font-size: 1.2em;
  	display: block;
  	width: 35%;
  	color: #4c4c4c;
  	border-radius: 4px;
}

.show {
  	visibility: visible !important;
  	opacity: 100 !important;
}

/*
 * Animation for unmatched cards
 */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes match
{
    15%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    30%
    {
        -webkit-transform: scale(1.2);
       transform: scale(1.2);
    }
    50%
    {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    65%
    {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    80%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
@keyframes match
{
    15%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    30%
    {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    50%
    {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    65%
    {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    80%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
